body {
    height: 100vh;
}

#root {
    height: 100%;
}

/*This doesn't scale better so we might use styled-component for such purposes*/
input::placeholder {
    color: #0082d4;
}

* {
    font-family: 'OpenSans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}